.container{
    width: 250px;
    height: 350px;
    position: relative;
    background: var(--color-white);
    border-radius: var(--border-radius-medium);
}
.person__photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
}

.favorite{
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    object-fit: cover;
    filter: drop-shadow(0 0 2px #000);
}